# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
out/
dist/
build/
target/

# IDE
.idea/
.vscode/
*.iml
*.swp

# Env
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Java
*.class
*.jar

# Test
coverage/
